<!DOCTYPE>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API GOOGLE VISION</title>

    <!--angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

    <script src="./principal.js"></script>

    <!--CSS bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">

    <!--javascript bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">
        <div ng-controller='fotoController'>
            <form class="form-control" method="post">
                <select name="tipo" id="tipo" class="form-control" ng-model="gdg.valueTipo" required>
                    <option ng-repeat="item in gdg.tipo">{{item}}</option>
                </select>
                <input class="form-control" type="file" accept="image/x-png,image/gif,image/jpeg" name="selecionaArquivo" id="selecionaArquivo" ng-model="gdg.file" onchange="angular.element(this).scope().convertBase64()">
                <input class="form-control" placeholder="Digite A URL da imagem" type="url" ng-model="gdg.url" />

                <button class="form-control" type="submit" ng-click="enviaPhoto()">ENVIAR</button>
                <button class="form-control" type="reset">LIMPAR</button>

            </form>
            <div class="row">
                <div class=col-lg-6>
                    <textarea name="retornoJson" id="retornoJson" ng-model="retornoJson" cols="70" rows="10"></textarea>
                </div>
                <div class="col-lg-6" ng-show="gdg.showBase64">
                    <img src="data:image/png;base64, {{gdg.base64.binary}}" width="100%" alt="oat" />
                </div>
                <div class="col-lg-6" ng-show="gdg.showUrl">
                    <img src="{{gdg.url}}"  width="100%" alt="oat" />
                </div>
            </div>
        </div>
    </div>
</body>

</html>